*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
figures/ filter=lfs diff=lfs merge=lfs -text
*.pdf[[:space:]]*.png filter=lfs diff=lfs merge=lfs -text
figures/harm3dnuc_tau.png filter=lfs diff=lfs merge=lfs -text
figures/hists_Gnu_smooth.png filter=lfs diff=lfs merge=lfs -text
figures/neutrino-deficit.pdf filter=lfs diff=lfs merge=lfs -text
figures/nphys_frames filter=lfs diff=lfs merge=lfs -text
figures/feh_555627_000001_gw170817-ye-vs-theta-folded-5.png filter=lfs diff=lfs merge=lfs -text
figures/advection1d-lastframe.pdf filter=lfs diff=lfs merge=lfs -text
figures/ccsn-eigenmodes filter=lfs diff=lfs merge=lfs -text
figures/gw170817disk_rho_frames filter=lfs diff=lfs merge=lfs -text
figures/Ye_PR_norm.png filter=lfs diff=lfs merge=lfs -text
figures/abundance_rough.png filter=lfs diff=lfs merge=lfs -text
figures/eso1733s.0.jpg filter=lfs diff=lfs merge=lfs -text
figures/gw170817-yields-2.pdf filter=lfs diff=lfs merge=lfs -text
figures/mocmc-diagram.png filter=lfs diff=lfs merge=lfs -text
figures/sn1987a-eso.jpg filter=lfs diff=lfs merge=lfs -text
figures/sn1987a-remnant.jpg filter=lfs diff=lfs merge=lfs -text
figures/2250px-SN_1998bw.jpg filter=lfs diff=lfs merge=lfs -text
figures/cain-r-process-metal-poor.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817-ye-vs-theta.pdf filter=lfs diff=lfs merge=lfs -text
figures/triple.png filter=lfs diff=lfs merge=lfs -text
figures/bromly_au_lines.png filter=lfs diff=lfs merge=lfs -text
figures/de-pic.jpg filter=lfs diff=lfs merge=lfs -text
figures/ejecta_vz_vr.png filter=lfs diff=lfs merge=lfs -text
figures/fornax-equil-comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/fornax-equil-percent-difference.pdf filter=lfs diff=lfs merge=lfs -text
figures/lanl-tt-rep.jpg filter=lfs diff=lfs merge=lfs -text
figures/nubhlight-github.png filter=lfs diff=lfs merge=lfs -text
figures/qr_spiner.png filter=lfs diff=lfs merge=lfs -text
figures/betabin.tar.gz filter=lfs diff=lfs merge=lfs -text
figures/torus_nu_frames filter=lfs diff=lfs merge=lfs -text
figures/qr_parthenon.png filter=lfs diff=lfs merge=lfs -text
figures/sun-cropped.png filter=lfs diff=lfs merge=lfs -text
figures/weak_scaling.pdf filter=lfs diff=lfs merge=lfs -text
figures/yedecay_electron_antinu_energy.pdf filter=lfs diff=lfs merge=lfs -text
figures/mdot_edd.png filter=lfs diff=lfs merge=lfs -text
figures/collapsar_mid filter=lfs diff=lfs merge=lfs -text
figures/dump_00002000-rho-xz.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817_dump_00000708-rho-xz.pdf filter=lfs diff=lfs merge=lfs -text
figures/swope-image.png filter=lfs diff=lfs merge=lfs -text
figures/collapsar filter=lfs diff=lfs merge=lfs -text
figures/advection3d.pdf filter=lfs diff=lfs merge=lfs -text
figures/disk_3d_render.png filter=lfs diff=lfs merge=lfs -text
figures/dump_00002000-rho-xy.pdf filter=lfs diff=lfs merge=lfs -text
figures/dump_00002000-Ye-xy.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817disk_Ye_far filter=lfs diff=lfs merge=lfs -text
figures/advection3d-lastframe.pdf filter=lfs diff=lfs merge=lfs -text
figures/crooked.png filter=lfs diff=lfs merge=lfs -text
figures/G299-Remnants-SuperNova-Type1a-20150218.jpg filter=lfs diff=lfs merge=lfs -text
figures/gw170817_dump_00000708-rho-xz-close.pdf filter=lfs diff=lfs merge=lfs -text
figures/hm1_v_p_big.pdf filter=lfs diff=lfs merge=lfs -text
figures/mu0p9_psi4_r_4_4_zoom.pdf filter=lfs diff=lfs merge=lfs -text
figures/torus_ye_frames filter=lfs diff=lfs merge=lfs -text
figures/wollaeger-slide-2.png filter=lfs diff=lfs merge=lfs -text
figures/bhns_curtis filter=lfs diff=lfs merge=lfs -text
figures/isoentropic-disk-initial.pdf filter=lfs diff=lfs merge=lfs -text
figures/tau_frames filter=lfs diff=lfs merge=lfs -text
figures/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA's_Solar_Dynamics_Observatory.jpg filter=lfs diff=lfs merge=lfs -text
figures/yedecay_electron_nu_energy.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817_dump_00000708-Ye-xy.pdf filter=lfs diff=lfs merge=lfs -text
figures/advection3d-pointwise.pdf filter=lfs diff=lfs merge=lfs -text
figures/Core_collapse_scenario.png filter=lfs diff=lfs merge=lfs -text
figures/GW170817-rendition.png filter=lfs diff=lfs merge=lfs -text
figures/GWTC-3_stellar-graveyard_diamond.jpg filter=lfs diff=lfs merge=lfs -text
figures/HST_SN_1987A_20th_anniversary.jpg filter=lfs diff=lfs merge=lfs -text
figures/nuclear-uncertainties filter=lfs diff=lfs merge=lfs -text
figures/adiabat_s15.pdf filter=lfs diff=lfs merge=lfs -text
figures/neutrino_flavors.png filter=lfs diff=lfs merge=lfs -text
figures/Nucleosynthesis_periodic_table.png filter=lfs diff=lfs merge=lfs -text
figures/tchekovskoy_initial_data filter=lfs diff=lfs merge=lfs -text
figures/collapsar_lo filter=lfs diff=lfs merge=lfs -text
figures/entropy_vs_hm1.png filter=lfs diff=lfs merge=lfs -text
figures/farrisshock.pdf filter=lfs diff=lfs merge=lfs -text
figures/moc-crooked-pipe.png filter=lfs diff=lfs merge=lfs -text
figures/multiscatt.pdf filter=lfs diff=lfs merge=lfs -text
figures/mumpower-fission.png filter=lfs diff=lfs merge=lfs -text
figures/ruiz-2016.jpg filter=lfs diff=lfs merge=lfs -text
figures/sanjana_bhns_ye_combined.png filter=lfs diff=lfs merge=lfs -text
figures/cotedelaytime.jpg filter=lfs diff=lfs merge=lfs -text
figures/spectral_evolution.pdf filter=lfs diff=lfs merge=lfs -text
figures/wollaeger-slide-1.png filter=lfs diff=lfs merge=lfs -text
figures/sanjana_disk_yields_pt082.pdf filter=lfs diff=lfs merge=lfs -text
figures/dump_00002000-Ye-xz.pdf filter=lfs diff=lfs merge=lfs -text
figures/entropy_vs_hm1.pdf filter=lfs diff=lfs merge=lfs -text
figures/mdot_edd_nu.png filter=lfs diff=lfs merge=lfs -text
figures/nagakura_boltzmann.png filter=lfs diff=lfs merge=lfs -text
figures/neutrino-mechanism-janka.png filter=lfs diff=lfs merge=lfs -text
figures/qr_nqto2.png filter=lfs diff=lfs merge=lfs -text
figures/qr_nubhlight.png filter=lfs diff=lfs merge=lfs -text
figures/abbot-timeline.jpg filter=lfs diff=lfs merge=lfs -text
figures/sph.mp4 filter=lfs diff=lfs merge=lfs -text
figures/gargamelle.jpg filter=lfs diff=lfs merge=lfs -text
figures/gw170817-log-divergence-dyedt-tavg-wb.png filter=lfs diff=lfs merge=lfs -text
figures/heatingbandasyKarpovye16.png filter=lfs diff=lfs merge=lfs -text
figures/insitu filter=lfs diff=lfs merge=lfs -text
figures/LonardoniTewesGandolfiCarlsonFig2.png filter=lfs diff=lfs merge=lfs -text
figures/nsbh_disks_rho_ye.png filter=lfs diff=lfs merge=lfs -text
figures/phoebus_movies filter=lfs diff=lfs merge=lfs -text
figures/dsplanar.png filter=lfs diff=lfs merge=lfs -text
figures/tov_fig_paper.png filter=lfs diff=lfs merge=lfs -text
figures/rank-sn1987a-IR-spectrum.png filter=lfs diff=lfs merge=lfs -text
figures/dtau_scatt_sadw_tavg.pdf filter=lfs diff=lfs merge=lfs -text
figures/valeria filter=lfs diff=lfs merge=lfs -text
figures/Ye_divergence_plot_tavg.pdf filter=lfs diff=lfs merge=lfs -text
figures/dtau_scatt_sadw_1000M.pdf filter=lfs diff=lfs merge=lfs -text
figures/barker_2d filter=lfs diff=lfs merge=lfs -text
figures/collapsar_vr_comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817-ye-vs-time.pdf filter=lfs diff=lfs merge=lfs -text
figures/homestake-interior.jpg filter=lfs diff=lfs merge=lfs -text
figures/visit0006-gimp3.png filter=lfs diff=lfs merge=lfs -text
figures/yedecay_electron_nu_ye.pdf filter=lfs diff=lfs merge=lfs -text
figures/3d_render.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817_skynet filter=lfs diff=lfs merge=lfs -text
figures/nuspec filter=lfs diff=lfs merge=lfs -text
figures/sanjana_disk_yields_pt42.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817-sinh10-divergence-rates-tavg.png filter=lfs diff=lfs merge=lfs -text
figures/quantagold_19201.jpg filter=lfs diff=lfs merge=lfs -text
figures/skynet_ye_0p13 filter=lfs diff=lfs merge=lfs -text
figures/torus2d_frames filter=lfs diff=lfs merge=lfs -text
figures/neutrinos-fermilab.jpg filter=lfs diff=lfs merge=lfs -text
figures/longsim filter=lfs diff=lfs merge=lfs -text
figures/tanvir_light_curve_model.png filter=lfs diff=lfs merge=lfs -text
figures/disks_run_MMa_3d_scatter.png filter=lfs diff=lfs merge=lfs -text
figures/dtau_summ_sadw_1000M.pdf filter=lfs diff=lfs merge=lfs -text
figures/mocmc-hohlraum.png filter=lfs diff=lfs merge=lfs -text
figures/Nucleosynthesis_periodic_table.svg filter=lfs diff=lfs merge=lfs -text
figures/cowan-metal-poor-stars.png filter=lfs diff=lfs merge=lfs -text
figures/mollifiedN32_centre.pdf filter=lfs diff=lfs merge=lfs -text
figures/nphys_frames.zip filter=lfs diff=lfs merge=lfs -text
figures/beppo-sax-light-curve.png filter=lfs diff=lfs merge=lfs -text
figures/dtau_tot_2d_1000M.pdf filter=lfs diff=lfs merge=lfs -text
figures/ns-manhattan.png filter=lfs diff=lfs merge=lfs -text
figures/Nucleosynthesis_in_a_star.png filter=lfs diff=lfs merge=lfs -text
figures/SN1987A_hubble_cropped.jpg filter=lfs diff=lfs merge=lfs -text
figures/curtis-pic.jpg filter=lfs diff=lfs merge=lfs -text
figures/fornax-cooling-comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/gw170817disk_Ye_close filter=lfs diff=lfs merge=lfs -text
figures/gw170817-ye-2-times-hist-linear.pdf filter=lfs diff=lfs merge=lfs -text
figures/mgog_1d filter=lfs diff=lfs merge=lfs -text
figures/weak_scaling.png filter=lfs diff=lfs merge=lfs -text
figures/ent4_rho filter=lfs diff=lfs merge=lfs -text
figures/collapsar_s_comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/disks_run_thermo_params.png filter=lfs diff=lfs merge=lfs -text
figures/FECvsTime.png filter=lfs diff=lfs merge=lfs -text
figures/leptoneq filter=lfs diff=lfs merge=lfs -text
figures/mdot_edd_nu.pdf filter=lfs diff=lfs merge=lfs -text
figures/mullen_bh_beam.pdf filter=lfs diff=lfs merge=lfs -text
figures/ye_zoH_tavg.pdf filter=lfs diff=lfs merge=lfs -text
figures/3d_render_cbar_length_scale.png filter=lfs diff=lfs merge=lfs -text
figures/composition-effects-presence-of-uranium.png filter=lfs diff=lfs merge=lfs -text
figures/misch-astromer-heating.png filter=lfs diff=lfs merge=lfs -text
figures/sanjana_bhns_traced_comp.pdf filter=lfs diff=lfs merge=lfs -text
figures/collapsar_Ye_comparison.pdf filter=lfs diff=lfs merge=lfs -text
figures/ccsn-stats filter=lfs diff=lfs merge=lfs -text
figures/ent4_ye filter=lfs diff=lfs merge=lfs -text
figures/gw170817-ye-vs-theta-folded-5.png filter=lfs diff=lfs merge=lfs -text
figures/payel filter=lfs diff=lfs merge=lfs -text
figures/TTTT filter=lfs diff=lfs merge=lfs -text
figures/wind-3d-render.png filter=lfs diff=lfs merge=lfs -text
figures/beta-decay-transmutation.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817_dump_00000708-rho-xy.pdf filter=lfs diff=lfs merge=lfs -text
figures/kelsey filter=lfs diff=lfs merge=lfs -text
figures/klund filter=lfs diff=lfs merge=lfs -text
figures/tanvir_light_curve.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817_anim filter=lfs diff=lfs merge=lfs -text
figures/disk_image_no_text.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817-ye-hist-mid-v-off-linear.pdf filter=lfs diff=lfs merge=lfs -text
figures/mdot_edd.pdf filter=lfs diff=lfs merge=lfs -text
figures/mumpower-frib.png filter=lfs diff=lfs merge=lfs -text
figures/parth-hydro-scaling_weak.pdf filter=lfs diff=lfs merge=lfs -text
figures/athenapk_sample.png filter=lfs diff=lfs merge=lfs -text
figures/dtau_integrated_tavg.pdf filter=lfs diff=lfs merge=lfs -text
figures/ejecta-morphology-z-projection.pdf filter=lfs diff=lfs merge=lfs -text
figures/grmonty_geodesics.jpg filter=lfs diff=lfs merge=lfs -text
figures/gw170817_dump_00000708-Ye-xz.pdf filter=lfs diff=lfs merge=lfs -text
figures/jet-opening filter=lfs diff=lfs merge=lfs -text
figures/top500.png filter=lfs diff=lfs merge=lfs -text
figures/1920px-Elements_abundance_bars.png filter=lfs diff=lfs merge=lfs -text
figures/foucart_moment_v_mc.png filter=lfs diff=lfs merge=lfs -text
figures/frames filter=lfs diff=lfs merge=lfs -text
figures/nsmsite.png filter=lfs diff=lfs merge=lfs -text
figures/oscillations_1zone.png filter=lfs diff=lfs merge=lfs -text
figures/qr_phoebus.png filter=lfs diff=lfs merge=lfs -text
figures/tempGK_25ms.png filter=lfs diff=lfs merge=lfs -text
figures/yedecay_electron_antinu_ye.pdf filter=lfs diff=lfs merge=lfs -text
figures/Beta-minus_Decay.png filter=lfs diff=lfs merge=lfs -text
figures/gw170817 filter=lfs diff=lfs merge=lfs -text
figures/qr_singularity.png filter=lfs diff=lfs merge=lfs -text
figures/fornax-cooling-percent-difference.pdf filter=lfs diff=lfs merge=lfs -text
