auto
friday_morning_astro_oct_2019.pdf
triumf.pdf
abstract_triumf.pdf
hamburg.pdf
bad_honnef_2022.pdf
gsi.pdf
erice.pdf
aas.pdf
astrocoffee.pdf
teams.pdf
scidac_2020.pdf
cnls.pdf
cta1.pdf
astro_jun_2019.pdf
tcan_2019.pdf
ua_days.pdf
lanl_ua_days_2020.pdf
lanl_ua_days_abstract.pdf
skype-a-scientist.pdf
la_astro_2019.pdf
cnls_abstract.pdf
frib.pdf
ICERM.pdf
dr_review*.pdf
unam.pdf
fusion-in-space.pdf
ecstar*.pdf
caltech-lanl.pdf
ecr-appraisal.pdf
int-*.pdf
nubhlight-overview.pdf
icerm-2024-boltzmann.pdf
et-2024-modeling.pdf
*_abstract.pdf
*-abstract.pdf
_*_.tex
*.out
*.aux
*.log
*.nav
*.snm
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*Notes.bib
*.blg
*.bbl
.DS_Store
.fuse*
*.tar.gz
